<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>Addbranch</servlet-name>
  	<display-name>Addbranch</display-name>
  	<description></description>
  	<servlet-class>com.space.controller.adminbranch.Addbranch</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>Deletebranch</servlet-name>
  	<display-name>Deletebranch</display-name>
  	<description></description>
  	<servlet-class>com.space.controller.adminbranch.Deletebranch</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Adduser</servlet-name>
  	<display-name>Adduser</display-name>
  	<description></description>
  	<servlet-class>com.space.controller.adminuser.Adduser</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Updateuser</servlet-name>
  	<display-name>Updateuser</display-name>
  	<description></description>
  	<servlet-class>com.space.controller.adminuser.Updateuser</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Deleteuser</servlet-name>
  	<display-name>Deleteuser</display-name>
  	<description></description>
  	<servlet-class>com.space.controller.adminuser.Deleteuser</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Addlocaiton</servlet-name>
  	<display-name>Addlocaiton</display-name>
  	<description></description>
  	<servlet-class>com.space.controller.adminlocation.Addlocaiton</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Updatelocation</servlet-name>
  	<display-name>Updatelocation</display-name>
  	<description></description>
  	<servlet-class>com.space.controller.adminlocation.Updatelocation</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Deletelocation</servlet-name>
  	<display-name>Deletelocation</display-name>
  	<description></description>
  	<servlet-class>com.space.controller.adminlocation.Deletelocation</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Addoffice</servlet-name>
  	<display-name>Addoffice</display-name>
  	<description></description>
  	<servlet-class>com.space.controller.adminoffice.Addoffice</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Updateoffice</servlet-name>
  	<display-name>Updateoffice</display-name>
  	<description></description>
  	<servlet-class>com.space.controller.adminoffice.Updateoffice</servlet-class>
  </servlet>
   <servlet>
  	<servlet-name>Deleteoffice</servlet-name>
  	<display-name>Deleteoffice</display-name>
  	<description></description>
  	<servlet-class>com.space.controller.adminoffice.Deleteoffice</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Updatebranch</servlet-name>
  	<display-name>Updatebranch</display-name>
  	<description></description>
  	<servlet-class>com.space.controller.adminbranch.Updatebranch</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Addamenities</servlet-name>
  	<display-name>Addamenities</display-name>
  	<description></description>
  	<servlet-class>com.space.controller.adminaminities.Addamenities</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Updateamenities</servlet-name>
  	<display-name>Updateamenities</display-name>
  	<description></description>
  	<servlet-class>com.space.controller.adminaminities.Updateamenities</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Deleteamenities</servlet-name>
  	<display-name>Deleteamenities</display-name>
  	<description></description>
  	<servlet-class>com.space.controller.adminaminities.Deleteamenities</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Reservation</servlet-name>
  	<display-name>Reservation</display-name>
  	<description></description>
  	<servlet-class>com.space.controller.admin.Reservation</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Cancelation</servlet-name>
  	<display-name>Cancelation</display-name>
  	<description></description>
  	<servlet-class>com.space.controller.admin.Cancelation</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ForgotServlet</servlet-name>
  	<display-name>ForgotServlet</display-name>
  	<description></description>
  	<servlet-class>com.space.controller.user.ForgotServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<display-name>LoginServlet</display-name>
  	<description></description>
  	<servlet-class>com.space.controller.user.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogoutController</servlet-name>
  	<display-name>LogoutController</display-name>
  	<description></description>
  	<servlet-class>com.space.controller.user.LogoutController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RegisterServlet</servlet-name>
  	<display-name>RegisterServlet</display-name>
  	<description></description>
  	<servlet-class>com.space.controller.user.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ReservationServlet</servlet-name>
  	<display-name>ReservationServlet</display-name>
  	<description></description>
  	<servlet-class>com.space.controller.user.ReservationServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Adminlogin</servlet-name>
  	<display-name>Adminlogin</display-name>
  	<description></description>
  	<servlet-class>com.space.controller.admin.Adminlogin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ViewOrders</servlet-name>
  	<display-name>ViewOrders</display-name>
  	<description></description>
  	<servlet-class>com.space.controller.user.ViewOrders</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ContactServlet</servlet-name>
  	<display-name>ContactServlet</display-name>
  	<description></description>
  	<servlet-class>com.space.controller.user.ContactServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Addbranch</servlet-name>
  	<url-pattern>/addbranch</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>Deletebranch</servlet-name>
  	<url-pattern>/deletebranch</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Adduser</servlet-name>
  	<url-pattern>/adduser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Updateuser</servlet-name>
  	<url-pattern>/updateuser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Deleteuser</servlet-name>
  	<url-pattern>/deleteuser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Addlocaiton</servlet-name>
  	<url-pattern>/addlocation</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Updatelocation</servlet-name>
  	<url-pattern>/updatelocation</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Deletelocation</servlet-name>
  	<url-pattern>/deletelocation</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Addoffice</servlet-name>
  	<url-pattern>/addoffice</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Updateoffice</servlet-name>
  	<url-pattern>/updateoffice</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Deleteoffice</servlet-name>
  	<url-pattern>/deleteoffice</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Updatebranch</servlet-name>
  	<url-pattern>/updatebranch</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Addamenities</servlet-name>
  	<url-pattern>/addamenities</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Updateamenities</servlet-name>
  	<url-pattern>/updateamenities</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Deleteamenities</servlet-name>
  	<url-pattern>/deleteamenities</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Reservation</servlet-name>
  	<url-pattern>/reservation</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Cancelation</servlet-name>
  	<url-pattern>/cancelation</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ForgotServlet</servlet-name>
  	<url-pattern>/forgot</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogoutController</servlet-name>
  	<url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RegisterServlet</servlet-name>
  	<url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ReservationServlet</servlet-name>
  	<url-pattern>/reservationservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Adminlogin</servlet-name>
  	<url-pattern>/adminlogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewOrders</servlet-name>
  	<url-pattern>/viewhyd</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ContactServlet</servlet-name>
  	<url-pattern>/contact</url-pattern>
  </servlet-mapping>
  <welcome-file-list><welcome-file>UserHomePage.html</welcome-file></welcome-file-list>
  
  
</web-app>
