<!DOCTYPE html>
<html>
<head>
<title>HyderabadPage</title>
<link rel="stylesheet" type="text/css" href="hyd.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<div class="banner">
		<div id="logo">
			<img src="./img/workspaceLogo.PNG">
		</div>
		<div id="info">
			ContactUS: <span><i class="fa fa-phone"></i> &nbsp; 1800 000
				000</span> <span><i class="fa fa-envelope"></i> &nbsp;
				info@workspace4u.com</span>
		</div>
	</div>

	<div class="back"></div>
	<div class="map">
		<div id="he">
			<h2>Our Branches in Hyderabad</h2>
		</div>
		<p>
			<iframe
				src="https://www.google.com.qa/maps/d/u/0/embed?mid=1ESG4S34KfuuVXNK3xaNBKwcHj5F_V--B"
				width="640" height="300"></iframe>
		</p>
	</div>

	<div class="trans">
		<!-- <div><a href="reservation.jsp"><i>Reservation</i></a></div> -->
		<form action="reservation" method="post">
			<div id="location">
				<select name="loc">
					<option value="1">Branches</option>
					<option value="2">Kukatpally</option>
					<option value="3">Hitech City</option>
				</select>
			</div>
			<br>
			<br>
			<div id="type">
				<select name="typ"> <% while (rs.next()) { %>
					<option value="1">Intrested In</option>
					<option value="1">Private Office</option>
					<option value="2">Hot Desk</option>
					<option value="3">Conference</option>
					<option value="4">Dedicated Desk</option> <% } %>
				</select>
			</div>
			<br>
			<br>
			<div id="aminities">
				<select name="ame">

					<option value="1">Aminities</option>
					<option value="2">Game Zone</option>
					<option value="3">Wellness Room</option>
					<option value="4">Fitness</option>
					<option value="5">Cafeteria</option>
				</select>
			</div>
			<br>
			<br> <input type="date" name="start date" id="start date">
			<input type="date" name="end date" id="end date"><br>
			<br>
			<div class="bu">
				<input type="submit" name="submit"> <input type="reset"
					name="reset">
			</div>

		</form>

	</div>





	<div class="aminities">
		<img src="./img/workspace.jpg">
	</div>
	<div class="fo">
		<h2>About WorkingSpace in Hyderabad</h2>
		<b>A few Workafacts exclusively for you!</b> <br>
		<p>Choose WorkSpace4U potpourri of benefits for you.OurCoworking
			space in Hyderabad offers you</p>
		<br> <b>Coworking space in Hyderabad</b> <br>
		<p>Our office space in Hyderabad is spread across the city. With
			multiple centres around, you have the luxury of choosing the location
			that’s most preferred for you.</p>
		<br> <b>Affordability and flexibility</b> <br>
		<p>Are you an entrepreneur looking out for a professional space?
			Are you looking to grow your team? Whether you have a requirement for
			a single seat or for a whole office, we have it for you. Add as you
			scale, customise your office space, hot desk from any Workafella
			location of your choice.</p>
		<br> <b>Amenities and Lifestyle benefits</b>
		<p>Our Coworking space in Hyderabad provides unlimited Wi-Fi,
			telephone calls, CCTV, security, unlimited tea/coffee, front desk,
			IT, HR, maintenance, utilities, food court, projectors and
			housekeeping. As a value ad, we have kept traffic in mind hence
			providing valet parking services. For last minute help, we are
			facilitated with kettle, steam iron and shower. Workafella also
			provides you with runner boys who can come in handy throughout.</p>
		<br> <b>Events and Networking</b> <br>
		<p>Every business needs networking to grow and we enable that in
			the right way. By closely working with people from different fields,
			you’re also open for building new possibilities and explore new
			territories. To add a streak of fun, we also conduct various events
			to lighten up the moment for all of us. We strongly believe that a
			little of fun can make our productivity better.</p>
		<br>
		<p>The best Coworking space in Hyderabad is here for you. Make the
			choice today.</p>
		<br> <b>Think workspace?</b>
	</div>
	<div class="footer">
		<div class="footer-content">
			<div class="footer-section about">
				<h1 class="logo-text">
					<span>WOrk</span>Space4U
				</h1>
				<p>Workspace4U is an arrangement in which several workers from
					different companies share an office space, allowing cost savings
					and convenience through the use of common infrastructure</p>

				<div class="contact">
					<span><i class="fa fa-phone"></i> &nbsp; 1800 000 000</span> <span><i
						class="fa fa-envelope"></i> &nbsp; info@workspace4u.com</span>
				</div>
				<div class="socials">
					<a href="#"><i class="fa fa-facebook"
						style="font-size: 28px; color: #3b5998"></i></a> <a href="#"><i
						class="fa fa-instagram" style="font-size: 28px; color: #3f729b"></i></a>
					<a href="#"><i class="fa fa-twitter"
						style="font-size: 28px; color: #00acee"></i></a> <a href="#"><i
						class="fa fa-youtube" style="font-size: 28px; color: #c4302b"></i></a>
				</div>
			</div>

			<div class="footer-section links">
				<h2>Links</h2>
				<br>
				<ul>
					<a href=""><li>KnowMore</li></a>
					<a href=""><li>WorkSpace4U</li></a>
					<a href=""><li>About</li></a>
					<a href=""><li>Terms and Conditions</li></a>

				</ul>
			</div>
			<div class="footer-section contact-form">
				<h2>Contact us</h2>
				<br>
				<form action="" method="post">
					<input type="email" name="email" class="text-input contact-input"
						placeholder="Your email Address.."><br>
					<br>
					<textarea name="message" class="text-input contact-input"
						placeholder="Your Message"></textarea>
					<br>
					<button type="submit" class="btn btn-big">
						<i class="fa fa-envelope"></i> send
					</button>
				</form>
			</div>
		</div>
		<div class="footer-bottom">&copy;WorkSpace4U | Designed by
			R3SCHPNBJ</div>

	</div>

</body>
</html>